{% extends "WAZAComptabiliteBundle:Core:contenu.html.twig" %}

{% block linkbar %}
    {{ parent()}}<span class="glyphicon glyphicon-chevron-right"></span> <a href="{{ path('waza_gain_list') }}">Gains</a>
{% endblock %}

{% block contenu_head %}
    <tr>
        <th data-field="state" data-checkbox="true"><input type="checkbox" id="checkbox"></th>
        <th data-field="nom" data-align="center">NOM</th>
        <th data-field="description" data-align="center">DESCRIPTION</th>
        <th data-field="dateenreg" data-align="center">DATE D'ENREGISTREMENT</th>
        <th data-field="modifier" data-align=""></th>
    </tr>
{% endblock %}


{% block contenu_body %}
    {% if datas is defined %}
    {% if datas |length > 0 %}
                    {% set ids = [] %}
                    {% for valeur, data in datas %}
                        <tr>
                            <td>
                                <input type="checkbox" name="check{{ valeur }}" value="{{ data.id }}" id="checkbox{{ valeur }}">
                            </td>
                            <td><a href="{{ path('waza_op_objet_list', {'id': data.id, 'op': 'gain'}) }}">{{ data.nom | capitalize}}</a></td>
                            <td><a href="{{ path('waza_op_objet_list', {'id': data.id, 'op': 'gain'}) }}">{{ data.description | slice(0, 30) | capitalize}}</a></td>
                            <td><a href="{{ path('waza_op_objet_list', {'id': data.id, 'op': 'gain'}) }}">{{ data.dateenreg | date("d/m/Y H:i:s") }}</a></td>
                            <td>
                                <a href="{{ path('waza_gain_edit', {'id':data.id}) }}" id="modifierBtn">
                                    <span class="glyphicon glyphicon-edit" id="iconEdit"></span>
                                </a>
                            </td>
                        </tr>
                        {% set nbobj = valeur %}
                    {% endfor %}
    {% else %}
        <tr><td>Aucun gain</td></tr>
    {% endif %}
    {% endif %}    
{% endblock %}